# Helper library to use https://api.stackexchange.com.
stackapi

# For sorting imports
isort

# For pep8 linter
pycodestyle

# Python reformatter
black

# Needed to run pyflakes linter
pyflakes

# Zulip's linting framework - zulint
https://github.com/zulip/zulint/archive/9908540b7734b51f86ccabab706befc2ff33212a.zip#egg=zulint==0.0.1

# Static type checker for Python
mypy

# https://api.stackexchange.com doesn't return the complete excerpt of the answers.
# Therefore, we need to make request to the stackoverflow api with the link obtained
# with the help of stackapi to fetch the full content.
requests

# mypy stubs for requests module.
types-requests

# This will be used to parse the output obtained from above request.
beautifulsoup4

# This parser will be used by BeautifulSoup.
lxml
